<div class="series-detail-container position-relative text-white">
  @if(serie){
    <div class="background-img"
      [style.background-image]="'url(' + (serie.imageUrl || 'assets/default.png') + ')'"
    ></div>

    <div class="overlay"></div>
      <div class="container position-relative py-5">
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-4 fw-bold">{{ serie.name }}</h1>
            <div class="serie-meta">
              <span class="year">{{ serie.yearWatch }}</span>
              <span class="dot">•</span>
              <span class="rating">
                {{ 'ratings.' + serie.rating | translate }}
              </span>
              <span class="dot">•</span>
              <div class="genres">
                  @for (genre of serie.genres; track genre) {
                    <span class="genre-badge">{{ genre }}</span>
                  }
              </div>
            </div>
            <p class="description">{{ serie.description }}</p>

          </div>
        </div>
    </div>
  }
</div>
