.series-detail-container {
  position: relative;
  color: white;
  min-height: 89vh;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 2;
}

.container.position-relative {
  z-index: 3;
}

.description {
  font-size: 1.1rem;
  max-width: 800px;
  line-height: 1.5;
}

.btn-lg {
  font-size: 1.1rem;
}
