.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  color: white;
  font-family: 'Inter', sans-serif;
}

.home-header {
  text-align: center;
  margin-bottom: 4rem;
}

.glow-text {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 0.5rem;
}

.glow-text span {
  color: #d33cf9;
}

.home-header p {
  color: #ffffff;
  font-size: 1.1rem;
}


.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 900px;
}

.nav-card {
  position: relative;
  background: #2b0036;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.nav-card:hover {
  transform: translateY(-10px);
  background: #410051;
  border-color: #3e014d;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.icon-wrapper {
  background: #d33cf9;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.icon-wrapper mat-icon {
  color: white;
}

.text-wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.text-wrapper p {
  color: #b2b5ba;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.arrow-link {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.9rem;
}

.nav-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(99, 102, 241, 0.1) 0%, transparent 70%);
  opacity: 0;
  transition: opacity 0.4s;
}

.nav-card:hover::before {
  opacity: 1;
}
