.form-group {
  display: flex;
  flex-direction: column;
}

.save-button {
background-color: #450156;
color: white;
padding: 10px 20px;
border: none;
border-radius: 8px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s, transform 0.2s;
}


.save-button:hover {
background-color: #59006f;
transform: scale(1.05);
}


.save-button:active {
transform: scale(0.98);
}
