.serie-card {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  max-width: 540px;
  background-color: #2b0036;
  color: #ffffff;
}

.serie-card img {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.375rem 0 0 0.375rem;
}

.button-div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
