<div class="btn-group" role="group">
  <button type="button" class="btn dropdown-toggle main-border ps-1 pe-1" data-bs-toggle="dropdown">
    <img [src]="currentFlag" class="flag-button"/>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item" (click)="setLang('es')">
      <img src="assets/flags/es.svg" class="flag-icon" /> {{ 'header.spanish' | translate }}
    </li>
    <li class="dropdown-item" (click)="setLang('en')">
      <img src="assets/flags/en.svg" class="flag-icon" /> {{ 'header.english' | translate }}
    </li>
  </ul>
</div>
