<div class="modal-overlay" (click)="onClose()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    @if (type!='append') {
    <header class="modal-header">
      <h2>{{'series-list.create-list' | translate}}</h2>
    </header>

    <form [formGroup]="listForm" (ngSubmit)="onSave()" class="modal-body">
      <div class="input-group">
        <mat-form-field appearance="outline" class="white-field mt-3">
          <mat-label>{{ 'form.name' | translate }}</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Series name" />
        </mat-form-field>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn-secondary" (click)="onClose()">{{'form.cancel' | translate}}</button>
        <button type="submit" class="btn-primary" [disabled]="listForm.invalid">
          {{'form.save' | translate}}
        </button>
      </footer>
    </form>
    }
    @else {
    <header class="modal-header">
      <h2>{{ 'series-list.add-to-list' | translate }}</h2>
    </header>

    <form [formGroup]="appendForm" (ngSubmit)="onAppend()" class="modal-body">
      <div class="input-group">
        <mat-form-field appearance="outline" class="white-field mt-3">
          <mat-label>{{ 'series-list.series' | translate }}</mat-label>
          <mat-select formControlName="serieId" panelClass="my-dark-select">
            <div class="select-search-header">
              <mat-form-field appearance="fill" class="search-inner-field" subscriptSizing="dynamic">
                <input matInput [formControl]="searchControl" placeholder="{{ 'form.search' | translate }}"
                  (keydown)="$event.stopPropagation()" autocomplete="off">
              </mat-form-field>
            </div>
            @for (s of series; track s.publicId) {
            <mat-option [value]="s.publicId">
              {{ s.name }}
            </mat-option>
            } @empty {
            <div class="no-results">No se encontraron series</div>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <footer class="modal-footer">
        <button type="button" class="btn-secondary" (click)="onClose()">{{ 'form.cancel' | translate }}</button>
        <button type="submit" class="btn-primary" [disabled]="appendForm.invalid">
          {{ 'form.save' | translate }}
        </button>
      </footer>
    </form>
    }
  </div>
</div>
