<form [formGroup]="form" class="filters">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Search by name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      <mat-option *ngFor="let r of ratings" [value]="r">
        {{ ('ratings.' + r) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Year watched</mat-label>
    <input matInput type="number" formControlName="yearWatch">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Genres</mat-label>
    <mat-select formControlName="genres" multiple>
      @for (g of genres; track $index) {
        <mat-option [value]="g.id">
          {{ g.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="button" (click)="applyFilters()">
      Apply
    </button>

    <button mat-button type="button" (click)="clearFilters()">
      Clear
    </button>
  </div>

</form>
