.main-border {
  color: rgb(102, 102, 102);
}

.dropdown-menu.custom-dark {
  background-color: #222;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-menu.custom-dark .dropdown-item:hover {
  background-color: #444;
  color: #fff;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
}

.no-click {
  pointer-events: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #343434;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.white-field {
  --mdc-outlined-text-field-outline-color: white;
  --mdc-outlined-text-field-focus-outline-color: white;
  --mdc-outlined-text-field-label-text-color: white;
  --mdc-outlined-text-field-input-text-color: white;
  --mdc-outlined-text-field-caret-color: white;
  --mdc-outlined-text-field-hover-outline-color: white;

  .mat-mdc-select-arrow {
    color: white;
  }
}

input[type=number] {
  background-color: #121212;
  color: white;
  border: 1px solid white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: #121212;
  color: white;
}

input[type=number] {
  -moz-appearance: textfield;
}

.my-dark-select.mat-mdc-select-panel {
  background-color: #1e1e1e !important;
}

.my-dark-select .mat-mdc-option {
  color: white !important;
}

.my-dark-select .mat-mdc-option:hover,
.my-dark-select .mat-mdc-option.mdc-list-item--selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.my-dark-select .mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #ffffff !important;
}

.my-dark-select .mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
  color: #ffffff !important;
}

.my-dark-select .mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox-checked {
  background-color: #ff4081 !important;
  border-color: #ff4081 !important;
}

.my-dark-select .mat-mdc-option.mdc-list-item--selected:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.mat-mdc-select-value {
  color: white !important;
}

.mat-mdc-select-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.mat-mdc-select-arrow svg {
  fill: white !important;
}
