.main-border {
  color: rgb(102, 102, 102);
}
.dropdown-menu.custom-dark {
  background-color: #222; /* fondo oscuro */
  color: #fff;            /* texto claro */
}

.dropdown-item {
  color: #fff;            /* texto claro */
}

.dropdown-menu.custom-dark .dropdown-item:hover {
  background-color: #444;
  color: #fff;
}
