.main-border {
  color: rgb(102, 102, 102);
}

.dropdown-menu.custom-dark {
  background-color: #222;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-menu.custom-dark .dropdown-item:hover {
  background-color: #444;
  color: #fff;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
}

.no-click {
  pointer-events: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.white-field {
  --mdc-outlined-text-field-outline-color: white;
  --mdc-outlined-text-field-focus-outline-color: white;
  --mdc-outlined-text-field-label-text-color: white;
  --mdc-outlined-text-field-input-text-color: white;
  --mdc-outlined-text-field-caret-color: white;
  --mdc-outlined-text-field-hover-outline-color: white;
  .mat-mdc-select-arrow {
    color: white;
  }
}

input[type=number] {
  background-color: #121212;
  color: white;
  border: 1px solid white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: #121212;
  color: white;
}

input[type=number] {
  -moz-appearance: textfield;
}
