.main-border {
  color: rgb(102, 102, 102);
}
.dropdown-menu.custom-dark {
  background-color: #222; /* fondo oscuro */
  color: #fff;            /* texto claro */
}

.dropdown-item {
  color: #fff;            /* texto claro */
}

.dropdown-menu.custom-dark .dropdown-item:hover {
  background-color: #444;
  color: #fff;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
}

.no-click {
  pointer-events: none;
}
